# Игнорируем настройки IDE
.idea/

# Игнорируем виртуальное окружение
.venv/
env/
ENV/

# Игнорируем временные файлы и кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файл с переменными окружения Flask
.flaskenv

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем выходные данные и логи
*.log
*.tmp

# Игнорируем архивы и сборки
*.tar.gz
*.zip
dist/
build/